@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: blanchedalmond
}

h1 {
    color: lightcoral;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
    transition: 1.5s
}

h2 {
    color: aquamarine;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    transition: 1.5s
}

input {
    display: none;
}


#seleccion-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-mascotas {
    display: flex;
    background-color: #FEBE8C;
    flex-direction: column;
    border: 5px solid coral;
    border-radius: 20px;
    
}

#contenedor-cartas {
    display: flex;
}

#contenedor-h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

input:checked + label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    color: aliceblue;
    transition: 1.5s;
}

.card-mascotas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 180px;
    font-size: 20px;
    border: 5px solid salmon;
    background-color: aquamarine;
    margin: 5px;
    border-radius: 20px;
    transition: 1.5s
}

.label-mascotas:hover {
    cursor: pointer;
    color: aliceblue;
}

.card-mascotas img {
    width: 150px;
}

#div-boton-seleccion {
    padding-top: 20px;
    transition: 1.5s
}


.label-mascotas {
    display: flex;
    align-items: center;
}

#boton-mascota {
    border: 5px aquamarine solid;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: beige;
    width: 200px;
    height: 50px;
    transition: .5s
}

#boton-mascota:hover {
    background-color: #FEBE8C;
    cursor: pointer;
}

#div-vidas {
    display: flex;
}

#seleccion-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ataque-fuego {
    border: 5px rgb(216, 190, 190) solid;
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(255, 104, 104);
    width: 80px;
    height: 50px;
    transition: .5s
}

#ataque-agua {
    border: 5px rgb(190, 216, 216) solid;
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(104, 237, 255);
    width: 80px;
    height: 50px;
    transition: .5s
}

#ataque-tierra {
    border: 5px rgb(190, 216, 124) solid;
    border-radius: 20px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(104, 255, 124);
    width: 80px;
    height: 50px;
    transition: .5s
}

#ataque-fuego:hover {
    cursor: pointer;
    background-color: rgb(131, 52, 52);
}

#ataque-agua:hover {
    cursor: pointer;
    background-color: rgb(52, 115, 131);
}

#ataque-tierra:hover {
    cursor: pointer;
    background-color: rgb(55, 131, 52);
}

#mensajes {
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    background-color: #FEBE8C;
    border: 5px solid coral;
}

#contenedor-ataques {
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    width: 450px;
    justify-content: space-around;
    background-color: #FEBE8C;
    border: 5px solid coral;
}

#reiniciar {
    border: 5px #7fffd400 solid;
    border-radius: 20px;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    background-color: #FEBE8C;
    width: 200px;
    height: 50px;
    transition: .5s;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.5px black;
}

#reiniciar:hover {
    background-color: beige;
    color: black;
    cursor: pointer;
}

.contenedor-vidas {
    text-align: center;
}

#ataque-mascota-rival {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ataque-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}

#ver-mapa button{
    border: 5px aquamarine solid;
    margin: 5PX 0;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    transition: .5s
}

@media (max-width: 890px) {
    #contenedor-cartas {
        flex-direction: column;
    }

    .h1 {
        text-align: justify;
    }

    #ver-mapa button{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}